@model IEnumerable<ArticleProject.Core.autherPost>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>بيانات المشاركات</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="get" asp-action="Search">

    <input type="search" name="SearchItem" class="search-field" />
    <input type="submit" value="بحث" class="btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDescription)
            </td>
            <td>
                    <img src="~/images/@item.PostImageUrl"
                         class="rounded-circle"
                         width="50" height=" 50" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
         
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    if (Model.ToList().Count < 5)
    {
        int id = 0;
        <a asp-action="index" asp-route-id="@id">الصفحة الاوللا</a>

    }
    else
    {
        <a asp-action="index" asp-route-id="@Model.ToList().Last().Id">التالي</a>
 

    }}